.section {

  iframe {
    border-radius: 30px;
  }

  h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }

  .videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    margin: 24px auto;
  }

  @media (max-width: 1200px) {
    .videos {
      grid-template-columns: 1fr;
    }
  }

  @media (min-width: 1850px) {
    .videos {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px;
    }
  }
}
