// color white: #eae5dc;
// color pink: #df9b74;
// color yellow: #d59429;
// color brown: #b1582d;

body {
  color: #b1582d;
  background-color: #eae5dc;
  margin: 0;
  padding: 0;
  text-align: center;

  a {
    text-decoration: none;
    color: #eae5dc;
  }
}

header {
  .banner {
    text-align: center;
    width: 100%;
  }
  #cjs-banner {
    object-fit: contain;
    width: 80%;
    height: 50vh;
  }
}
