.section {
  h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }

  .videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin: 24px auto;

    // vid {
    //   object-fit: contain;
    //   width: 50%;
    // }
  }

  @media (max-width: 1200px) {
    .videos {
      grid-template-columns: 1fr;
      gap: 18px;
    }
  }

  @media (min-width: 1850px) {
    .videos {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 32px;
    }
  }
}
