.about {

  header {
    p {
      font-size: 20px;
    }
  }

  .disappear {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-20%);
    transition: all 1.5s;
  }
  .appear {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s;
  }

  .section {
    display: flex;
    padding: 64px;
    place-items: center;

    .text {
      padding: 32px;
      margin: 24px;
    }

    img {
      width: 50%;
      height: 50%;
      object-fit: contain;
      border-radius: 8px;
    }
  }
}
