.artistCard {
  a {
    color: var(--cjsBrown);
    box-shadow: 0 0 2px var(--cjsBrown);
    border-radius: 6px;
  }
}

.backgroundDiv {
  position: relative;
  width: 100%;
  height: 260px;
  display: grid;
  place-items: center;

  &:hover {
    .backgroundImage {
      filter: blur(0);
    }
    h3 {
      opacity: 0;
    }
  }

  .backgroundImage {
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: 0.2s;
    filter: blur(4px);
  }

  h3 {
    z-index: 1;
    position: absolute;
    font-size: 24px;
    color: var(--cjsWhite);
    opacity: 0.9;
    transition: 0.3s;
  }
}
