.discover {
  .backgroundDiv {
    position: relative;
    width: 100%;
    height: 360px;
    display: grid;
    place-items: center;

    .backgroundImage {
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      filter: blur(4px);
      &:hover {
        filter: blur(0);
      }
    }

    h3 {
      z-index: 1;
      position: absolute;
      font-size: 35px;
      color: var(--cjsWhite);
      opacity: 0.9;
      transition: 0.3s;
    }

    &:hover {
      h3 {
        font-size: 25px;
        opacity: 0;
      }
    }
  }


  .title {
    text-align: center;
    margin: 16px auto;
    padding: 8px;
  }

  .artistList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    margin: 24px;

    .artistCard {
      // border: 1px solid var(--cjsBrown);
      // padding: 12px;

      a {
        color: var(--cjsBrown);
        box-shadow: 0 0 2px var(--cjsBrown);
        // padding: 8px 12px;
        border-radius: 6px;
      }
    }
  }
  @media (min-width: 1900px) {
    .artistList {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media (max-width: 1300px) {
    .artistList {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 800px) {
    .artistList {
      grid-template-columns: 1fr;
    }
  }
}
