.section {

  h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }
}

.header {
  margin-bottom: 80px;

  .banner {
    text-align: center;
    width: 100%;
  }

  #cjsBanner {
    object-fit: contain;
    width: 80%;
    height: 50vh;
  }

  .bannerDesc {
    letter-spacing: 2px;
  }
}
