.section {
  text-align: left;
  h4 {
    margin-left: 8px;
    font-size: 24px;
  }
  .recent {
    margin: 8px;
    h4 {
      margin-left: 64px;
    }
    .recentVideosWrap {
      display: flex;
      align-items: center;
      .icon {
        font-size: 32px;
        margin: 0 16px;
      }
    }
  }

  .carouselSection {
    margin-top: 64px;
    text-align: center;
    .carouseContainer {
      min-width: 40%;
      max-width: 720px;
      margin: auto;
    }
  }
  h1 {
    font-size: 50px;
    letter-spacing: 3px;
  }
}

.header {
  margin-bottom: 80px;

  .banner {
    text-align: center;
    width: 100%;
  }


  .bannerDesc {
    letter-spacing: 2px;
  }
}

#cjsBanner {
  object-fit: contain;
  width: 80%;
  height: 50vh;
  cursor: pointer;
}
