.artistLoading {
  width: 50%;
  height: 40vh;
  margin: 40px auto;
  padding: 16px;
  display: grid;
  align-items: center;
  background-color: var(--cjsBrown);
  color: var(--cjsWhite);
  border-radius: 16px;
}
