.media {
  // background-color: red;

  .title {
    color: var(--cjsBrown);
    text-align: center;
    margin: 16px auto;
    padding: 8px;
  }

  .images * {
    object-fit: contain;
    width: 50%;
  }

  .artistList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;

    .artistCard {
      border: 1px solid var(--cjsBrown);
      // padding: 12px;

      a {
        color: var(--cjsBrown);
        box-shadow: 0 0 2px var(--cjsBrown);
        // padding: 8px 12px;
        border-radius: 6px;
      }
    }
  }
}
