.media {
  // background-color: red;

  .title {
    color: #b1582d;
    text-align: center;
    margin: 16px auto;
    padding: 8px;
  }

  .images * {
    object-fit: contain;
    width: 50%;
  }

  .artistList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;

    .artistCard {
      border: 1px solid #b1592d82;
      padding: 12px;

      a {
        color: #b1582d;
        box-shadow: 0 0 2px #b1582d;
        padding: 8px 12px;
        border-radius: 6px;
      }
    }
  }
}
