.backdrop {
  position: fixed;
  top: 0;
  left: o;
  height: 100vh;
  width: 100%;
  background-color: rgba(var(--cjsBrownRGB), 0.5);
  display: grid;
  place-items: center;
}

.modal {
  padding: 24px;
  background-color: var(--cjsWhite);
  color: var(--cjsBrown);
  max-width: 50%;
  height: 30vh;
  border-radius: 8px;
  box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.3);

  .crossDiv {
    text-align: right;
    .cross {
      cursor: pointer;
    }
  }

  h1 {
    margin-bottom: 48px;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 8px auto;
    padding: 16px;
    a {
      color: var(--cjsBrown);
    }
    li {
      border: 1px solid var(--cjsBrown);
      padding: 4px 8px ;
      border-radius: 8px;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
      transition: 0.2s;

      &:hover {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

      }
    }
  }
}
