.nav {
  width: 100%;
  background: var(--cjsBgBrown);
  margin: 0;
  padding: 4px;

  ul {
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
    margin: 8px;
    list-style: none;

    li {
      border: 1px solid rgba(var(--cjsWhiteRGB), 0.3);
      // background-color: rgba(var(--cjsBrown), 0.5);
      padding: 8px 12px;
      border-radius: 4px;
      transition: 0.2s;

      &:hover {
        background-color: rgba(var(--cjsWhiteRGB), 0.1);
      }
    }
  }
}
