.nav {
  width: 100%;
  background: var(--cjsBgBrown);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    margin: 0 24px;
  }
  .icon {
    color: var(--cjsWhite);
    margin: 0 24px;
    font-size: 22px;
  }
  ul {
    min-width: 30%;
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
    list-style: none;

    li {
      overflow: hidden;
      padding: 8px 12px;
      position: relative;
      transition: 0.25s;
      &::after {
        content: "";
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--cjsWhite);
        scale: 0 1;
        transition:
          0.25s;
          translate: 0.25s;
      }
      &:hover::after {
        scale: 0.8 1;
      }
      &:hover + li::after {
        translate: -100%;
      }
      &:has(+ :hover)::after {
        translate: 100%;
      }
      a {
        color: var(--cjsWhite);
        transition: 0.25s;
        &:hover {
          color: white;
        }
      }
    }
  }
}
